[Unit]
Description=Mr Stone Personal Website
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/docusaurus/chenxiaoshivivid
# 使用nvm的Node.js和yarn
Environment="PATH=/root/.nvm/versions/node/v23.5.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStartPre=/root/.nvm/versions/node/v23.5.0/bin/yarn install
ExecStartPre=/root/.nvm/versions/node/v23.5.0/bin/yarn build
ExecStart=/root/.nvm/versions/node/v23.5.0/bin/yarn serve
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mrstone-website
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 